.Link {
  text-decoration: none;
  font-weight: 600;
}

.dark.Link {
  color: var(--dark-light);
}

.light.Link {
  color: var(--light-dark);
}

.ActiveLink {
  text-decoration: none;
  font-weight: 600;
}

.light.ActiveLink {
  color: rgb(221, 179, 40);
}

.dark.ActiveLink {
  color: rgb(236, 198, 71);
}