.Projects {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.Loading {
  font-size: 18px;
  text-align: center;
}

.SearchResult {
  margin-top: 20px;
}

.ResultAmount {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.light .ResultAmount {
  color: var(--light-medium);
}

.dark .ResultAmount {
  color: var(--dark-medium);
}