.Home {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  padding: 20px 0px 40px 0px;
}

.light.Home {
  background: var(--light-primary);
}

.dark.Home {
  background: var(--dark-primary);
}

.HomeContainer {
  width: var(--content-width);
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .HomeContainer {
    width: 90%;
  }
}

.Projects {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}