@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.Card {
  width: 280px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.Card.light {
  border: 1px solid var(--dark-grey);
  background: var(--light-primary);
}

.Card.dark {
  border: 1px solid var(--dark-grey);
  background: var(--dark-second);
}

/* ==== Name ==== */

.Name {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.light .Name {
  color: var(--light-dark);
} 

.dark .Name {
  color: var(--dark-light);
}

/* ==== Links ==== */

.Links {
  line-height: 1.6em;
  width: 100%;
  margin-top: 20px;
}

.Link, .Repository {
  margin-top: 16px;
  font-size: 18px;
}

.Word {
  font-weight: bold;
  user-select: none;
}

.light .Word {
  color: var(--light-dark);
}

.dark .Word {
  color: var(--dark-light);
}

.Anchor {
  margin-left: 10px;
  font-weight: 600;
}

/* ==== Footer ==== */

.Footer {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.Technologies {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Date {
  align-self: end;
}

.Technology, .Date {
  padding: 0.3em;
  border-radius: 0.3em;
  background: var(--light-neutral);
}

.Technology::before {
  content: '#';
}

.light .Technology,
.light .Date {
  background: var(--light-neutral);
  color: var(--light-dark);
}

.dark .Technology,
.dark .Date {
  color: var(--dark-light);
  background: var(--dark-medium);
}

@media (max-width: 400px) {
  .Card {
    width: 60%;
  }
}