.Navigation {
  display: flex;
  align-items: center;
  height: 100%;
}

.Link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.Link:not(:last-child) {
  margin-right: 32px;
}

.dark .Link {
  color: var(--dark-light);
}

.light .Link {
  color: var(--light-dark);
}

.ActiveLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.ActiveLink:not(:last-child) {
  margin-right: 32px;
}

.light .ActiveLink {
  color: rgb(221, 179, 40);
}

.dark .ActiveLink {
  color: rgb(236, 198, 71);
}

@media (max-width: 380px) {
  .Links {
    display: none;
  }
}

@media (min-width: 381px) {
  .Menu {
    display: none;
  }
}