.Header {
  width: 100%;
  height: 64px;
  transition: var(--animation-time);
}

.Header.light {
  border-bottom: 1px solid var(--light-neutral);
  background: var(--light-primary);
}

.Header.dark {
  border-bottom: 1px solid var(--dark-neutral);
  background: var(--dark-primary);
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}