.Footer {
  width: 100%;
  padding: 14px;
  transition: var(--animation-time);
  box-sizing: border-box;
}

.light.Footer {
  background: var(--light-neutral);
  color: var(--light-second);
}

.dark.Footer {
  background: var(--dark-second);
  color: var(--dark-light);
}

.FooterColumns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Headline {
  font-size: 18px;
  padding: 0;
  margin: 0 0 10px 0;
}

.light .Headline {
  color: var(--light-dark);
}

.dark .Headline {
  color: var(--dark-medium);
}

.Link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.Link:not(:last-child) {
  margin-bottom: 10px;
}

.light .Link {
  color: var(--light-second);
}

.dark .Link {
  color: var(--dark-light);
}

.Copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}