:root {
  --light-primary: #ffffff;
  --light-second: #006bd6;
  --light-medium: #0072e5;
  --light-dark: #005ab3;
  --light-neutral: #eeeeee;
  --light-darken: #dddddd;

  --dark-primary: #071a2f;
  --dark-second: #001e3c;
  --dark-medium: #0075ea;
  --dark-light: #d9d9e6;
  --dark-neutral: #cccccc;
  --dark-lighten: #265386;

  --dark-grey: #888888;

  --content-width: 1200px;

  --animation-time: 0.3s;
}

.App {
  height: 100%;
  box-sizing: border-box;
}